link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-57x57.png")
link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-60x60.png")
link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-72x72.png")
link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-76x76.png")
link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-114x114.png")
link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-120x120.png")
link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-144x144.png")
link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-152x152.png")
link(rel="apple-touch-icon" href=locals.site.url + "assets/img/favicon/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192" href=locals.site.url + "assets/img/favicon/android-icon-192x192.png")
link(rel="icon" type="image/png" sizes="32x32" href=locals.site.url + "assets/img/favicon/android-icon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href=locals.site.url + "assets/img/favicon/android-icon-96x96.png")
link(rel="icon" type="image/png" sizes="16x16" href=locals.site.url + "assets/img/favicon/android-icon-16x16.png")
link(rel="manifest" href=locals.site.url + "assets/img/favicon/manifest.json")
link(rel="shortcut icon" href=locals.site.url + "assets/img/favicon/favicon.ico" type="image/x-icon")
link(rel="icon" href=locals.site.url + "assets/img/favicon/favicon.ico" type="image/x-icon")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content=locals.site.url + "assets/img/favicon/ms-icon-144x144.png")
meta(name="theme-color" content="#ffffff")
